<h1 mat-dialog-title>Send message</h1>
<mat-dialog-content  class="mat-typography">
  <p>You can send a message to contact the owner of the profile </p>
  <form class="example-form">
    <mat-form-field class="example-full-width name">
      <mat-label>Name</mat-label>

     <input matInput placeholder="abdullah" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width message">
      <mat-label>message</mat-label>
      <textarea matInput placeholder="Leave a Message ..."></textarea>
    </mat-form-field>
  </form>
 </mat-dialog-content>
<mat-dialog-actions align="center" class="mat-mat-typography">
  <button mat-button mat-dialog-close color="primary" >Send <mat-icon>send</mat-icon> </button>
</mat-dialog-actions >
